.page {
	
}
.header {
	padding: 30px;
	background: lightgreen;
}
.content-section {
	background: gray;
}
.content-section::after {
	content: '';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}
.section {
	float: left;
	padding: 30px;
}
.primary-section {
	width: 70%;
	background: lightblue;
}
.secondary-section {
	width: 30%;
	background: lightcoral;
}
.footer {
	/* border-box로 하면 padding과 border는 width, height 크기에 포함 */
	/* box-sizing: content-box; 기본값 */
	/* box-sizing: border-box; */
	/* reset.css에 box-sizing: border-box; 넣어줌 */
	/* clear: both; */
	padding: 30px;
	background: lightseagreen;
}
.logo {
	float: left;
	width: 100px;
}
