html {
  font-size: 16px;
  color: #222;
}
body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  background: #fff;
}
a {
  color: #222;
  /* text-decoration: none; */
}
a:hover {
  /* color: red; */
}
h1,
h2,
h3 {
  letter-spacing: -0.01em;
}
button {
  font-size: 1rem;
  border: 0;
  cursor: pointer;
}

.a11y-hidden-bg {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

.page {
  line-height: 2;
}
.width-setter {
  padding: 0 20px;
}
.header {
  margin-bottom: 80vh;
}
.site-title {
  font-size: 9.4vw;
  font-weight: bold;
  white-space: nowrap;
}
.profile-image {
  max-width: 300px;
  margin: 3rem auto;
}

/* project list */
.project-item {
  height: 100vh;
  padding-top: 1px;
}
.project-content {
  margin-top: -30vh;
}
.project-title {
  padding: 1em 0;
  font-size: 9.4vw;
  font-weight: bold;
  line-height: 1.2;
}
.project-num {
  display: block;
  font-weight: normal;
}
.project-desc {
  margin-bottom: 1em;
}
.project-btn {
  padding: 0.5em 1em;
  font-weight: bold;
  color: #fff;
  border-radius: 100px;
  background: #222;
}

/* 3d panels */
.panels {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  perspective: 550px;
  transition: 0.5s opacity;
}
.panels.static-position {
  position: static;
}
.panel-list {
  transform-style: preserve-3d;
  will-change: transform;
}
.panel-item {
  position: absolute;
  left: 50vw;
  top: 50vh;
  width: 300px;
  height: 300px;
  margin: -150px 0 0 -150px;
  opacity: 0.3;
  transform-style: preserve-3d;
  transition: 0.5s;
}
/* 배경색상은 스크립트에서 세팅 */
/* .panel-item:nth-of-type(4n + 1) .panel-side {
  background: #f98866;
}
.panel-item:nth-of-type(4n + 2) .panel-side {
  background: #ffbb00;
}
.panel-item:nth-of-type(4n + 3) .panel-side {
  background: #80bd9e;
}
.panel-item:nth-of-type(4n + 4) .panel-side {
  background: #375e97;
} */
.panel-item.active {
  opacity: 1;
}
.panel-side {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 50px;
  background-size: cover;
  backface-visibility: hidden;
}
.panel-side img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  height: 100%;
  max-width: none;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  mix-blend-mode: luminosity;
}

/* footer */
.copyright {
  margin-top: 5rem;
  padding: 1rem 0 3rem;
  border-top: 1px solid currentColor;
  font-size: 0.8rem;
  text-align: center;
}

/* loading */
@keyframes loader-ani {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background: #fff;
  opacity: 0;
  transition: 0.5s;
}
.before-load .loader-wrapper {
  opacity: 1;
}
.loader {
  width: 30px;
  height: 30px;
  border: 5px solid #222;
  border-color: #222 transparent transparent;
  border-radius: 50%;
  animation: loader-ani 1s infinite linear;
}

@media (min-width: 960px) {
  .width-setter {
    width: 920px;
    margin: 0 auto;
  }
  .site-title {
    font-size: 5.8rem;
    white-space: nowrap;
  }
  .panel-side img {
    opacity: 0.5;
  }
  .paragraph {
    column-count: 3;
    column-gap: 3em;
  }
  .project-title {
    font-size: 5rem;
  }
  .project-content {
    width: 60%;
  }
}

@media (min-width: 1240px) {
  .width-setter {
    width: 1200px;
  }
  .site-title {
    font-size: 7.6rem;
  }
}
